*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}
.contenedor_principal{
    width: 300px;
    height: 300px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contenedor-1{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(108, 88, 233);
}
h2{
    margin: 25px;
}
h3{
    margin: 15px;
}
button{
    margin: 25px;
    width: 100px;
    height: 28px;
    border-radius: 25px;
}
input{
    height: 28px;
    border-radius: 25px;
    margin: 8px;
}
.contenedor-2{
    width: 300px;
    height: 230px;
    border: 1px solid blue;
    display: flex;
    flex-direction:column;
    align-items: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.contenedor-2:hover{
    transform: translate(0px,230px);
}